{% extends 'base.html' %}
{% block title %}All Contents
{% endblock title %}

{% block body %}
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
<div style="font-family: 'El Messiri', sans-serif; font-weight:400;">



  <div class="container" style="width:80%">

        <h1 class="mt-3 text-center m-5" style="border-bottom: dashed 2px;">All Contents</h1>
   
    <div class="row">
      {% for content in allcontents %}
      <div class="col-md-12">
        <div class="row no-gutters overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative"
          style="word-wrap: break-word;">
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img p-0 m-0" width="230" height="200" role="img"
              src="{{content.image.url}}">

            </img>
          </div>
          <div class="col pr-0 pt-4 pb-4 pl-4 d-flex flex-column position-static">
            <a class="d-inline-block " href="#">
              <h2>{{content.title}}</h2>
            </a>
          </div>
          <div class="col-md-2 d-none d-sm-block" width="170" height="250"
            style="padding-right: 0px; padding-left: 0px;">
            <div class="container mt-2" style="text-align: center;">

             
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  


  

  </div>
</div>


{% endblock body %}